<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <script src="../fragments/sidebar/sidebar.js" defer></script>
    <title>Document</title>
</head>
<body class="bg-dark">
    <div class="container-fluid" style="padding-left: 0px;">
        <div class="row">
            <div class="col-3" id="sidebar">
                <!--Reserved for dynamically created sidebar-->
            </div>
            <div class="col">
                <!--Input article here-->
            </div>
        </div>
    </div> 
</body>
</html>